{% extends 'films/base.html' %}
{% load django_bootstrap5 %}
{% load films_tags %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item text-break">
        <a href="{% url 'films:post_list' %}">{{ 'films:post'|model_verbose_name_plural }}</a>
      </li>
      <li class="breadcrumb-item active">{{ post.name }}</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  {% if user.is_superuser or user == post.author %}
    <div class="gap-2 my-4">
      <a href="{% url 'films:post_update' post.id %}" class="btn btn-primary btn-sm">
        <i class="bi-pencil-square"></i>
        Редактировать
      </a>
      <a href="{% url 'films:post_delete' post.id %}" class="btn btn-danger btn-sm">
        <i class="bi-trash"></i>
        Удалить
      </a>
    </div>
  {% endif %}
  <div class="d-flex align-items-end flex-row bd-highlight mb-3">
    <div class="fs-1 p-2 bd-highlight">{{ post.author.username }}</div>
      <div class="vr" style="width: 3px; height: 70px;"></div>
    <div class="fs-1 p-2 bd-highlight text-break">{{ post.name }}</div>
  </div>
  {% for section in post.sections.all %}
  <div class="px-2">
    {% if section.image and section.image_status == 'BT' %}
    <img src="{{ section.image.url }}" class="rounded img-fluid me-4" alt="{{ section.name }}" />
    {% endif %}

    {% if section.image and section.image_status == 'L' %}
    <img src="{{ section.image.url }}" class="rounded float-start img-fluid text-break me-4" alt="{{ section.name }}" />
    {% endif %}

    {% if section.image and section.image_status == 'R' %}
    <img src="{{ section.image.url }}" class="rounded float-end img-fluid me-4" alt="{{ section.name }}" />
    {% endif %}

    <p class="large rise text-break">{{ section.name }}</p>

    {% if section.image and section.image_status == 'AT' %}
    <img src="{{ section.image.url }}" class="rounded img-fluid me-4" alt="{{ section.name }}" />
    {% endif %}

    <div class="text-break">
      {{ section.body_as_markdown }}
    </div>
    {% if section.image and section.image_status == 'B' %}
    <img src="{{ section.image.url }}" class="rounded img-fluid me-4" alt="{{ section.name }}" />
    {% endif %}
  </div>
  {% endfor %}

  <div class="row d-flex col-md-8 col-lg-6 card shadow-0 border card-body p-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h4 class="text-body mb-0">{{ 'films:comment'|model_verbose_name_plural }} ({{ post.comments.count }})</h4>
    </div>
    {% if user.is_authenticated %}
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
      </form>
    {% endif %}
    {% for comment in post.comments.all %}
    <div class="card mb-4">
      <div class="card-body">
        <p>{{ comment.body }}</p>
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <p class="small mb-0 ms-2"> {{ comment.author.username }} </p>
          </div>
          {% if comment.author == user or user.is_superuser %}
            <div class="d-flex flex-row align-items-center">
              <a href="{% url 'films:comment_update' post.id comment.id %}" class="small mb-0 ms-2"> Изменить </a>
            </div>
            <div class="d-flex flex-row align-items-center">
              <a href="{% url 'films:comment_delete' post.id comment.id %}" class="small mb-0 ms-2"> Удалить </a>
            </div>
          {% endif %}
          <div class="d-flex flex-row align-items-center">
            <p class="small text-muted mb-0">{{ comment.created_at }}</p>
            <i class="far fa-thumbs-up mx-2 fa-xs text-body" style="margin-top: -0.16rem;"></i>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
