{% extends 'films/base.html' %}
{% load django_bootstrap5 %}
{% load films_tags %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'films:post_list' %}">{{ 'films:post'|model_verbose_name_plural }}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'films:post_detail' form.instance.post.id %}">{{ form.instance.post.name }}</a>
      </li>
      <li class="breadcrumb-item active">Редактирование комментария</li>
    </ol>
  </nav>
{% endblock %}
{% block content %}
  <h1>Редактирование комментария</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {{ form.media }}
    {% bootstrap_button button_type='submit' content='Сохранить' %}
  </form>
{% endblock %}
